@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Jersey+10&display=swap");

body {
  background-color: #c0c0c0;
  color: #000;
  margin: 0;
}

body,
input,
button,
textarea {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button,
nav p:hover,
.window-btn span:hover {
  cursor: pointer;
}

header {
  width: 100%;
}

h1 {
  font-family: "Jersey 10", sans-serif;
  margin: 0;
  padding: 5px 10px;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 100;
}
button,
p,
a {
  font-size: 1.2em;
}

p {
  line-height: 1.1em;
  margin: 0.5em 0 1.3em;
}
a {
  margin-bottom: 10px;
  text-decoration: none;
}

nav hr {
  margin: 0 auto;
  width: 98%;
  border-bottom: 1px solid #fff;
}

#nav-menu {
  margin-left: 0.5em;
}

.window-title {
  display: flex;
  background-color: #000080;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0;
}

.window-title span {
  box-sizing: border-box;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #c0c0c0;
  border: 2px outset #fff;
  margin: 0 5px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 0.7;
}

hr {
  border: 1.5px solid #000;
  width: 50%;
  margin: 13.5px auto;
}

#grey-wnd-btn {
  width: 14px;
  height: 14px;
  border: unset;
  background-color: #c0c0c0;
  border: 2px solid #737373;
  border-top: 4px solid #737373;
  margin: 2.5px 0 0 0;
}

.window-btn {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

nav p {
  display: inline-block;
  margin: 5px 2px;
  padding: 0 5px;
  border: 2px inset #00000000;
}

nav p:hover,
.window-title span:hover:nth-child(odd) {
  background-color: #a2a2a2;
  border: 2px inset;
}

nav p::first-letter {
  text-decoration: underline;
}
