@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Jersey+10&display=swap");

/* regole generali */
body {
  background-color: #008083;
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  margin: 0;
}

h1 {
  font-size: 5em;
  margin: 20px 0 40px 0;
  text-align: center;
  color: rgb(255, 255, 255);
}

h1,
h2,
h3,
#main-menu-btn {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 15pt;
}

main {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

iframe {
  width: 768px;
  height: 560px;
  border: 2px outset #fff;
  box-sizing: border-box;
}

/* colonna sinistra */
.icon-column {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: space-evenly;
}

.icon-column a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-column a img {
  margin: 10px;
}

/* footer */
footer {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #c0c4c8;
  text-transform: uppercase;
  padding: 4px 10px;
  box-sizing: border-box;
}

/* .footer-menu {
  display: flex;
  flex-flow: column-reverse wrap-reverse;
  row-gap: 10px;
}

.footer-menu button {
  width: 100%;
  text-align: left;
  border: none;
  padding: 20px 10px;
} */

#main-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px outset #fff;
  padding: 5px 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1em;
}

#main-menu-btn:hover {
  background-color: #a2a2a281;
  border: 2px inset;
}

#main-menu-btn img {
  width: 15px;
  margin-right: 10px;
}

#bar-clock {
  border: 2px inset;
  padding: 5px 10px;
}
