@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Jersey+10&family=Nabla&display=swap");

body {
  background-image: url("./img/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #008083;
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  margin: 0;
}

h1 {
  font-family: "Nabla", system-ui;
  font-size: 80px;
  margin: 20px 0 40px 0;
  text-align: center;
}
h2,
h3,
#main-menu-btn {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 15pt;
}

iframe {
  width: 768px;
  height: 576px;
  z-index: 10;
  border: none;
}

.main-content {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.icon-column {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  align-items: center;
}

.icon-column a {
  color: #fff;
}

.icon-column a img {
  margin: 10px;
}

.window-title {
  border: 5px groove #bcbcbc;
}

.window-title h2 {
  margin: 0;
  padding: 5px 10px;
  font-size: 20px;
  background-color: #0000a8;
  color: #fff;
  letter-spacing: 1px;
  border-bottom: 3px solid #737373;
}

footer {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
  justify-content: flex-start;
  align-items: center;
  background-color: #c0c4c8;
  text-transform: uppercase;
}

.footer-menu {
  display: flex;
  flex-flow: column-reverse wrap-reverse;
  row-gap: 10px;
}

.footer-menu button {
  width: 100%;
  text-align: left;
  border: none;
  padding: 20px;
}

#main-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px groove #737373;
  margin: 10px;
  padding: 5px 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 20px;
}

#main-menu-btn:hover {
  border: 3px groove #c0c4c8;
  background-color: #737373;
  color: #fff;
}

#main-menu-btn img {
  width: 20px;
  margin-right: 10px;
}
