@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Jersey+10&family=Nabla&display=swap");

body {
  background-color: #c0c0c0;
  color: #000;
  margin: 0;
}

body,
input,
button,
textarea {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button,
nav p:hover,
.window-btn span:hover {
  cursor: pointer;
}

header {
  width: 100%;
}

h1 {
  font-family: "Jersey 10", sans-serif;
  margin: 0;
  padding: 5px 10px;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 100;
}
input::placeholder,
button,
p,
a {
  font-size: 1.2em;
}

p {
  line-height: 1.1em;
  margin: 0.5em 0 1.3em;
}
a {
  margin-bottom: 10px;
  text-decoration: none;
}

nav hr {
  margin: 0 auto;
  width: 98%;
  border-bottom: 1px solid #fff;
}

#nav-menu {
  margin-left: 0.5em;
}

.window-title {
  display: flex;
  background-color: #000080;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0;
}

.window-title span {
  box-sizing: border-box;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #c0c0c0;
  border: 2px outset #fff;
  margin: 0 5px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
}

.window-title span:first-child {
  line-height: 0.9;
}

#grey-wnd-btn {
  width: 14px;
  height: 14px;
  border: unset;
  background-color: #c0c0c0;
  border: 2px solid #737373;
  border-top: 4px solid #737373;
  margin: 2.5px 0 0 0;
}

.window-btn {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

nav p {
  display: inline-block;
  margin: 5px 2px;
  padding: 0 5px;
  border: 2px inset #00000000;
}

nav p:hover,
form button:hover,
.window-title span:hover:nth-child(odd) {
  background-color: #a2a2a2;
  border: 2px inset;
}

nav p::first-letter {
  text-decoration: underline;
}

main {
  height: 80%;
  margin: 0 50px;
}

.contact-box {
  display: flex;
  gap: 30px;
}

.contact-box p {
  padding: 0;
  margin: 0;
}

.contact-col {
  max-width: 215px;
}

.contact-col p {
  margin-bottom: 10px;
}

.contact-col img {
  margin-top: 30px;
  width: 200px;
}

form {
  width: 100%;
}

form button {
  padding: 5px 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1em;
  border: 2px outset #fff;
}

.info-fields {
  margin: 0;
}

.info-fields textarea,
.info-fields input {
  vertical-align: text-top;
  width: 79.4%;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 10px 10px;
  border: 1px inset #737373;
  outline: 1px inset #c0c0c0;
}

.info-fields label {
  display: inline-block;
  width: 80px;
  text-align: start;
}

.info-fields #text {
  margin-bottom: 10px;
  box-sizing: border-box;
  padding-bottom: 100px;
}

#btn-align {
  text-align: end;
  margin-right: 3px;
}

input,
textarea {
  font-size: 1em;
  max-width: 100%;
}
textarea {
  resize: none;
  overflow: hidden;
}
