@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Jersey+10&family=Nabla&display=swap");
body {
  background-color: #c0c0c0;
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  margin: 0;
}

h1 {
  font-family: "Jersey 10", sans-serif;
}

#main-content {
  max-width: 768px;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: #000080;
  border-bottom: 2px solid #737373;
}

h1 {
  margin: 0;
  padding: 5px 10px;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 100;
}

form {
  width: auto;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
