@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Jersey+10&family=Nabla&display=swap");

body {
  background-color: #c0c0c0;
  color: #000;
  margin: 0;
}

body,
input::placeholder,
button {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button,
nav p:hover {
  cursor: pointer;
}

input::placeholder,
button {
  font-size: 1.2em;
}

header {
  width: 100%;
}

h1 {
  font-family: "Jersey 10", sans-serif;
  margin: 0;
  padding: 5px 10px;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 100;
}
p,
a {
  font-size: 1.2em;
}

a {
  margin-bottom: 10px;
  text-decoration: none;
}

nav hr {
  margin: 0 auto;
  width: 98%;
  border-bottom: 1px solid #fff;
}

#nav-menu {
  margin-left: 1em;
}

#window-title {
  display: flex;
  background-color: #000080;
  align-items: center;
  justify-content: space-between;
}

#window-btn {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

#window-title span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  margin: 0 3px;
}

nav p,
form button {
  display: inline-block;
  margin: 5px 2px;
  padding: 0 5px;
  border: 2px inset #00000000;
}

nav p:hover,
form button:hover {
  background-color: #a2a2a281;
  border: 2px inset;
}

nav p::first-letter {
  text-decoration: underline;
}

main {
  height: 80%;
  margin: 0 50px;
}

.contact-box {
  display: flex;
  gap: 50px;
}

.contact-box p {
  padding: 0;
  margin: 0;
}

.contact-col img {
  align-self: center;
  width: 200px;
}

form,
.contact-col {
  display: flex;
  flex-flow: column wrap;
}

form {
  gap: 10px;
  width: 100%;
}

form button {
  padding: 8px 15px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1em;
  border: 2px outset #fff;
}

form input {
  padding: 10px 10px;
  border: 1px inset #737373;
  outline: 1px inset #c0c0c0;
}

form input:nth-child(4) {
  padding: 10px 10px 100px 10px;
}
